<!DOCTYPE html>
<html lang="en">
<head>
    <title>MarSav map's error</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css')}}">
</head>


<div class="banner"></div>  
<header><h1>Tasador de Propiedades</h1>

Lo sentimos! :(
<br>
No pudimos encontrar su propiedad. Por favor, intente nuevamente.     
<br>
Le pedimos que sea lo más exacto posible en la dirección de la misma.
<br>
¡Muchas Gracias!
</header> 
<body></body>
<footer>
    <br>  
    Tasador web de propiedades en Buenos Aires.<br> Proyecto desarrollado
    a partir de un modelo XGBoost entrenado con datos de la inmobiliaria Properati.
    <br> Algunas visualizaciones del proyecto: <a href="/map_heat">Data Vis!</a> | <a href="https://github.com/msavransky/properati">Repositorio</a>
    <br><hr>
    Por <a href="https://msavransky.github.io/msavransky/">Martín Savransky</a>, 2021.
    <br>
    ¡MarSav map's Tasador web es de mí confianza! ¡Yo lo recomiendo!
    </footer>

</html>